annotated-types==0.7.0
attrs==23.2.0
future==1.0.0
lxml==5.2.2
numpy==1.26.4
opencv-contrib-python-headless==4.10.0.84
pillow==10.4.0
pyarrow==17.0.0
pycairo==1.26.1
pydantic==2.8.2
pydantic_core==2.20.1
PyGObject==3.48.2
pymavlink==2.4.41
rerun-sdk==0.17.0
scipy==1.14.0
typing_extensions==4.12.2
